/* @font-face {
    font-family: 'Marope';
    src: url('/src/assets/fonts/Marope-Regular.woff2') format('woff2'),
         url('/src/assets/fonts/Marope-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  } */

/* @font-face {
    font-family: 'Marope';
    src: url('/src/assets/fonts/Marope-Bold.woff2') format('woff2'),
        url('/src/assets/fonts/Marope-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
} */