@tailwind base;
@tailwind components;
@tailwind utilities;

.input-per {
  @apply text-black dark:text-white border-black dark:border-white dark:bg-slate-700 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm;
}

.text-per-theme-default {
  @apply text-black dark:text-white;
}

.font-per-theme-default {
  @apply text-black dark:text-white border-black;
}

/**Datatable*/
.rdt_TableCol {

  font-weight: bolder;
  font-size: 14px;
}

.font-border {
  text-shadow: 0 5px #1b1515, 0 0 5px #010113;
}

.dark {
  --color-bg-primary: #aa0202;
  --color-bg-secondary: #283141;
  --color-text-primary: #ffffff;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #81e6d9;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #edf2f7;
  --color-text-primary: #000000;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
}